
body {
  background-color: black;
  margin: 0;
  overflow: hidden;
  font-family: monospace;
}
#gameCanvas {
  display: block;
  margin: 0 auto;
  background-color: #111;
  image-rendering: pixelated;
}
#storyBox {
  color: #39ff14;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
#langToggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
